{% extends 'base.html'%}
{%block content%}
<form method="GET">
<p><label for="id_a">a:</label> <input type="number" name="a" class="form-control" required="" id="id_a"></p>
<p><label for="id_b">b:</label> <input type="number" name="b" class="form-control" required="" id="id_b"></p>

    <input id="id_plus" type="submit" value="plus"  name="operator" class="btn btn-primary">
    <input id="id_mult" type="submit" value="mult"  name="operator" class="btn btn-primary">
    = 
 <input type="number" name="res" class="form-control" required="" id="id_res">

</form>
<script>
    var multiplu =    function(){
                var a = $('#id_a').val()
                var b  = $('#id_b').val()
                var  res = a*b;
                $("#id_res").val(res)

    }
    var plus =    function(){
                var a = $('#id_a').val()
                var b  = $('#id_b').val()
                var  res = +a+ +b;
                $("#id_res").val(res)
                setTimeout(function(){
                    $("res").submit()
                },1000)
                return false

    }
    $('#id_mult').click(multiplu);
    $("#id_a").change(plus);
    $("#id_b").change(multiplu);

</script>
</script>

<form method="">
    {%csrf_token%}
    </form>
      <div class="row">
          {% for raccoon in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <p class="card-text">{{raccoon}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{raccoon.get_absolute_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">Подробно</button></a>
                    <a href="{{raccoon.get_update_url}}">   <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
          {% endfor%}
      </div>
      {%endblock%}
