{% extends 'base.html'%}
{%block content%}
<form method="GET">
    {{form.as_p}}
    <input type="submit" value="plus"  name="operator" class="btn btn-primary">
    <input type="submit" value="mult"  name="operator" class="btn btn-primary">
     = {{res}}
</form>

<form method="">
    {%csrf_token%}
    </form>
      <div class="row">
          {% for raccoon in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <p class="card-text">{{raccoon}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{raccoon.get_absolute_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">Подробно</button></a>
                    <a href="{{raccoon.get_update_url}}">   <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
          {% endfor%}
      </div>
      {%endblock%}
