{% extends 'base.html'%}
{%block content%}
<h1> Кто что ел?</h1>
<form method="POST">
    {{form}}
    {% csrf_token %}
</form>
    <button class="btn btn-primary add"> еще один</button>
    <h2> Списк вкусняшек</h2>
<ul id="id_list">
    {% for y in yummy %}
    <li>{{y.name}}</li>
    {%endfor%}
</ul>
<script>

    var addElem = function(){
        var date = $("#id_date").val()
        var raccoon= $("#id_raccoon").val()
        var csrf_token = '{{csrf_token}}'
        $.post( "/raccoon/yummy_json",{'date':date,'raccoon':raccoon,'csrfmiddlewaretoken':csrf_token}).done( function( data ) {
            console.log(data)
            $('#id_list').empty()
            for(i=0;i<data.length;i++){
                $("#id_list").append('<li>' +data[i].name+'</li>')
            }
        });

        return false
    }
$(".add").click(addElem)
$("#id_raccoon").on('change',addElem)
$("#id_date").on('change',addElem)


</script>
<form method="">
    {%csrf_token%}
</form>
<div class="row">
    {% for raccoon in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <p class="card-text">{{raccoon}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{{raccoon.get_absolute_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">Подробно</button></a>
                        <a href="{{raccoon.get_update_url}}">   <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
</div>
{%endblock%}
